@{
    ViewData["Title"] = "_FeaturePartial";
}

<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Starter/assets/images/g10.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>@ViewBag.v1Title</h4>
                                <p>From @ViewBag.v1Description</p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g9.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v2Title</h4>
                                        <p>From @ViewBag.v2Description</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g8.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v3Title</h4>
                                        <p>From @ViewBag.v3Description</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g7.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v4Title</h4>
                                        <p>From @ViewBag.v4Description</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g6.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>@ViewBag.v5Title</h4>
                                        <p>From @ViewBag.v5Description</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
